<ion-header>
  <ion-toolbar>
    <ion-title>
      Medicamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nome do Medicamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Dose do Medicamento"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label>Início do tratamento</ion-label>
      <ion-datetime placeholder="Data" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item> 
    <ion-item>
      <ion-label>Fim do tratamento</ion-label>
      <ion-datetime placeholder="Data" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Horário do medicamento</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm"></ion-datetime>
    </ion-item>
    <ion-button color="success">Cadastrar Medicamento !</ion-button>
  </ion-list>
</ion-content>
